{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healthcare Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <h1>Welcome to the Healthcare Management System</h1>
</header>

<main class="home-page">
    <div class="logo-container">
        <img src="{% static 'img/image.png' %}" alt="Healthcare Logo" class="logo">
    </div>
    <h2>Your Health, Our Priority</h2>

</main>


</body>
</html>
